// Primary Button
.button.primary.peony_hover Primary Button
.button.primary.bg-secondary_disabled disabled=true Primary Disabled Button

// Disabled Button
.button.default.palo-santo_hover Default Button
.button.default.bg-secondary_disabled disabled=true Default Disabled Button

// Redirect Disabled Button
.button.redirect.button_left.palo-santo_hover Redirect Button
.button.redirect.button_left.bg-secondary_disabled disabled=true Redirect Disabled Button

// Secondary Disabled Button
.button.secondary.pepper_hover Secondary Button
.button.secondary.bg-secondary_disabled disabled=true Secondary Disabled Button

// Tertiary Disabled Button
.button.tertiary.opacity_hover Tertiary Button
.button.tertiary.tertiary_disabled disabled=true Tertiary Disabled Button

// Danger Disabled Button
.button.danger_button.soap_hover Danger_button Button
.button.danger_button.danger_button-disabled disabled=true Danger Disabled Button 2

// Danger 2 Disabled Button
.button.danger-2.opacity_hover Danger-2 Button
.button.danger-2.danger2_button-disabled disabled=true Danger 2 Disabled Button

// Chat Primary Disabled Button
.chat_button.primary.peony_hover Chat Primary Button
.chat_button.primary.none-disabled disabled=true Chat Primary Disabled Button

// Chat Secondary Disabled Button
.chat_button.secondary.text-secondary.bg-secondary_hover Chat Secondary Button
.chat_button.secondary.none-disabled disabled=true Chat Secondary Disabled Button
